{{-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Japa - Styleguide</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body class="font-display antialiased bg-gray-200 text-gray-900">
    {{{ await $slots.main() }}}
  </body>
</html> --}}