<div class="sponsors_wrapper">
  <h3> Platinum sponsors </h3>

  <div class="sponsors_list">
    <div class="sponsor_item">
      <a href="https://cleavr.io/adonis/?utm_source=adonisjs" target="_blank" title="Cleavr">
        <img src="{{ image('cleavr.35c0e821.svg') }}" alt="Cleavr.io">
      </a>
    </div>
  </div>
</div>