<div class="w-toc hidden lg:block">
  <div class="fixed right-0 top-0 bottom-0 mt-header" x-data="urlHashWatcher">
    @if(file.toc)
      <div class="toc-container">
        <h3> On this page </h3>
        <nav>
          @dimerTree([file.toc])~
        </nav>
      </div>
    @end
  </div>
</div>