@set('isCta', node.properties.className && node.properties.className.includes('cta'))
@set('isExternal', node.properties.href.startsWith('http'))
@set('classes', (node.properties.className || []).join(' '))

<a
  href="{{ node.properties.href }}"
  class="{{ classes }}"
  {{ isExternal ? 'target="_blank" rel="noopener"' : '' }}><span>
@dimerTree(node.children)~
</span>
@if(isCta)~
@!icons.arrow()
@end~
</a>