@set('type', node.properties.className.includes('alert-note') ? 'note' : 'tip')
@set('classes', (node.properties.className || []).join(' '))

<div class="{{ classes }}">
  <div class="icon">
    @if(type === 'note')
      @!icons.note()
    @else
      @!icons.bulb()
    @end
  </div>
@dimerTree(node.children)~
</div>