@set(
  'src',
  node.properties.src.startsWith('http') ? node.properties.src : image(node.properties.src)
)
<source src="{{ src }}" type="{{ node.properties.type }}" {{ node.properties.controls ? 'controls' : '' }}>