<!DOCTYPE html>
<html
  lang="en"
  x-data="{ disableScroll: false }"
  @show-sidebar.window="disableScroll = true"
  @hide-sidebar.window="disableScroll = false"
  @show-header.window="disableScroll = true"
  @hide-header.window="disableScroll = false"
  class="dark"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/social')
    @include('partials/icons')

    <script>
      const theme = localStorage.getItem('_x_themeColor') || window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      document.documentElement.classList.add(theme)
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=JetBrains+Mono:wght@300;400;500&display=swap" rel="stylesheet">

    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body
    class="font-display antialiased text-gray-900 dark:text-darkGray-900 bg-white dark:bg-darkGray-50"
    :class="{ 'overflow-hidden': disableScroll }"
  >
    {{{ await $slots.main() }}}
  </body>
</html>