@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../fonts/Calibre/stylesheet.css";
@import "../fonts/polysans/stylesheet.css";
@import "../fonts/operatorMono/stylesheet.css";
@import "./markdown.css";

[layout-sidebar] li a.up-current {
  @apply bg-gray-300 rounded-md text-gray-900;
}

[layout-header] li a.up-current, [layout-header] li a.persistent-up-current {
  @apply text-gray-900;
}

.sidebar {
  transform: translateX(-110vw);
  transition: transform .6s cubic-bezier(.16,1,.3,1), visibility 0s linear .6s;
  @apply invisible lg:transform-none lg:z-[auto] lg:visible lg:transition-none;
}

.sidebar.visible {
  transform: translateX(0);
  transition: transform .6s cubic-bezier(.16,1,.3,1);
  visibility: visible;
  max-width: 90%;
}
