.markdown {
  @apply text-prose font-body text-gray-800 dark:text-darkGray-600 leading-relaxed;
}

/**
 * ------------------------------------------------------
 *  Headings
 * ------------------------------------------------------
 */
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5 {
  @apply font-display font-medium text-gray-900 leading-normal relative scroll-mt-header dark:text-darkGray-900;
}
.markdown h1 {
  @apply text-prose-6xl mb-5;
}
.markdown h1 code {
  @apply text-4xl;
}
.markdown h2 {
  @apply text-prose-4xl mt-16 mb-5;
}
.markdown h2 code {
  @apply text-prose-4xl;
}
.markdown h2 em {
  @apply text-xl not-italic font-medium relative top-[-3px] text-gray-800 dark:text-darkGray-600;
}
.markdown h3 {
  @apply text-prose-3xl mb-3 mt-12;
}
.markdown h3 code {
  @apply text-prose-3xl;
}
.markdown h4 {
  @apply text-prose-2xl mb-2;
}
.markdown h4 code {
  @apply text-prose-2xl;
}
.markdown hr {
  @apply border-gray-300 dark:border-darkGray-200;
}

/**
 * Headings bookmark icon
 */
.markdown h2 a[aria-hidden="true"], .markdown h3 a[aria-hidden="true"], .markdown h4 a[aria-hidden="true"] {
  @apply text-gray-600 no-underline ml-[-30px] pl-[30px] opacity-0 !bg-none;
}
.markdown h2:hover a[aria-hidden="true"], .markdown h3:hover a[aria-hidden="true"], .markdown h4:hover a[aria-hidden="true"] {
  @apply opacity-100;
}
.markdown h2 a[aria-hidden="true"] .icon.icon-link, .markdown h3 a[aria-hidden="true"] .icon.icon-link, .markdown h4 a[aria-hidden="true"] .icon.icon-link {
  @apply bg-no-repeat h-7 w-7 absolute left-[-35px] border border-gray-300 rounded-md dark:border-darkGray-200;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' aria-hidden='true'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='%2372716d' stroke-width='1.5' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
  background-position: 7px 7px;
}

.markdown h2 a[aria-hidden="true"] .icon.icon-link {
  @apply mt-[6px];
}
.markdown h3 a[aria-hidden="true"] .icon.icon-link {
  @apply mt-[2px];
}
.markdown h4 a[aria-hidden="true"] .icon.icon-link {
  @apply mt-[1px];
}

/**
 * ------------------------------------------------------
 *  Margins for all elements
 * ------------------------------------------------------
 */
.markdown p, .markdown, .markdown figure, .markdown table, .markdown ul, .markdown ol, .markdown .alert, .markdown .embed {
  @apply mb-6;
}
.markdown .dimer-highlight, .markdown .codegroup {
  @apply mb-10;
}

/**
 * ------------------------------------------------------
 *  Table
 * ------------------------------------------------------
 */
.markdown table {
  @apply min-w-full border-collapse table-auto rounded-md;
}
.markdown table tr th, .markdown table tr td {
  @apply border border-gray-800 text-left px-3 py-2 dark:border-darkGray-200 text-md;
}
.markdown table tr th {
  @apply font-medium bg-gray-200 dark:bg-darkGray-800;
}

.markdown .dimer-highlight + table {
  @apply -mt-10 top-[-4px] relative;
}

.markdown table tr td code {
  @apply text-prose-pre;
}

/**
 * ------------------------------------------------------
 *  Codeblocks
 * ------------------------------------------------------
 */
.markdown code {
  @apply font-mono text-prose-code;
}
.markdown :not(pre) > code {
  @apply text-gray-900 dark:text-darkGray-900 font-medium whitespace-nowrap;
}

.markdown .dimer-highlight pre {
  @apply subpixel-antialiased;
}
.markdown .dimer-highlight pre code {
  @apply leading-relaxed text-prose-pre;
}

.markdown .dimer-highlight {
  @apply relative bg-darkGray-800 rounded-md py-6 overflow-x-auto border border-darkGray-200;
}

/**
 * ------------------------------------------------------
 *  Codeblocks Highlighted lines
 * ------------------------------------------------------
 */
.markdown .dimer-highlight:hover .line.dim {
  @apply opacity-100;
}
.markdown .dimer-highlight .line {
  @apply px-8 relative;
}
.markdown .dimer-highlight .line.dim {
  @apply opacity-30 transition-opacity;
}
.markdown .dimer-highlight .line.highlight-delete {
  @apply border-l-4 border-red-500;
  background-color: rgb(244 63 94/.15);
}
.markdown .dimer-highlight .line.highlight-delete:before {
  @apply text-red-500 absolute font-mono content-['-'] left-[10px];
}
.markdown .dimer-highlight .line.highlight-insert {
  @apply border-l-4 border-green-500;
  background-color: rgb(45 212 191/.15);
}
.markdown .dimer-highlight .line.highlight-insert:before {
  @apply text-green-500 absolute font-mono left-[10px] content-['+'];
}

/**
 * ------------------------------------------------------
 *  Codeblocks with title
 * ------------------------------------------------------
 */
.markdown .dimer-highlight .codeblock-title {
  @apply text-gray-300 bg-darkGray-200 py-1.5 px-4 rounded-xl inline-block font-mono text-sm font-medium mb-4 mx-8;
}
.markdown .dimer-highlight .ctc-action {
  @apply absolute right-0 mr-6 text-gray-600 mt-2 hover:text-gray-300 z-20 transition-colors hidden lg:block;
}

/**
 * ------------------------------------------------------
 *  Codegroups
 * ------------------------------------------------------
 */
.markdown .codegroup {
  @apply relative bg-darkGray-800 rounded-md overflow-hidden border border-darkGray-200;
}
.markdown .codegroup-tabs {
  @apply flex px-8 scroll-pl-8 relative overflow-x-auto py-6 -mx-2;
}
.markdown .codegroup .dimer-highlight {
  @apply pt-0 mb-0 border-none;
}
.markdown .codegroup-tabs .highlighter {
  @apply absolute bg-darkGray-300 z-10 rounded-xl transition-left;
}
.markdown .codegroup-tabs button {
  @apply text-gray-100 rounded-xl font-mono text-sm font-medium no-underline py-1.5 px-4 whitespace-nowrap relative z-20 transition-colors hover:text-gray-300;
}
.markdown .codegroup-tabs button.active {
  @apply text-gray-300;
}

/**
 * ------------------------------------------------------
 *  Alerts
 * ------------------------------------------------------
 */
.markdown .alert {
  @apply rounded-md pr-6 pl-4 py-4 relative flex items-baseline space-x-2 bg-darkGray-800 text-darkGray-900 border-l-4;
}

.markdown .alert code {
  @apply text-md;
}

.markdown .alert h4 {
  @apply text-base;
}

.markdown .alert h4 a[aria-hidden="true"] {
  @apply hidden;
}

.markdown .alert *:last-child {
  @apply mb-0;
}

.markdown .alert.alert-note {
  @apply border-brandDark;
}

.markdown .alert.alert-note .icon {
  @apply relative top-[5px];
}

.markdown .alert.alert-warning {
  border-color: rgb(255, 139, 62);
}

.markdown .alert.alert-warning .icon {
  @apply relative top-[5px];
}

/**
 * ------------------------------------------------------
 *  Images
 * ------------------------------------------------------
 */
.markdown figure {
  @apply max-w-full overflow-hidden min-w-min w-fit;
}
.markdown figure.boxed {
  @apply border-4 border-gray-300 rounded-md flex flex-col items-center dark:border-darkGray-200;
}
.markdown figure.boxed img {
  @apply px-8 py-8;
}
.markdown figure > figcaption {
  @apply bg-gray-200 border-t border-gray-300 px-4 py-6 text-center text-sm font-display w-full dark:border-darkGray-200 dark:bg-darkGray-300;
}

/**
 * ------------------------------------------------------
 *  Unordered list items
 * ------------------------------------------------------
 */
.markdown ul {
  @apply ml-6 list-disc;
}
.markdown ul li {
  @apply mb-3 pl-1;
}
.markdown ul li::marker {
  @apply text-brand dark:text-brandDark;
}
.markdown ul li ul {
  @apply mb-0 mt-3 list-circle;
}

/**
 * ------------------------------------------------------
 *  Ordered list items
 * ------------------------------------------------------
 */
.markdown ol {
  @apply ml-6 list-none;
  counter-reset: ol-counter;
}
.markdown ol li {
  @apply mb-3 pl-2;
  counter-increment: ol-counter;
}
.markdown ol li::marker {
  content: counter(ol-counter) ".";
  @apply text-brand font-medium text-lg dark:text-brandDark;
}
.markdown ol li ol {
  @apply mb-0 mt-3 list-circle;
}

/**
 * ------------------------------------------------------
 *  All other elements
 * ------------------------------------------------------
 */
.markdown a {
  @apply text-brand dark:text-brandDark;
  background-image: linear-gradient(to bottom, transparent 50%, config('brand') 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 #fff, 0.15rem 0 #fff, -0.1rem 0 #fff, -0.15rem 0 #fff;
}
.markdown strong {
  @apply font-medium dark:text-darkGray-900;
}

/**
 * ------------------------------------------------------
 *  Captions
 * ------------------------------------------------------
 */
.markdown .caption {
  @apply relative pr-3 pl-10 py-3 font-medium;
}
.markdown .caption > *:last-child {
  @apply mb-0;
}
.markdown .caption::before {
  @apply absolute w-px top-[35px] bottom-0 left-[18.5px] content-[''];
}
.markdown .caption .icon {
  @apply absolute left-0 mt-[2.9px] ml-2;
}
.markdown .caption-error .icon {
  @apply bg-red-500 text-white px-2 py-2 rounded-full;
}
.markdown .caption-error::before {
  @apply bg-red-500;
}
.markdown .caption-success .icon {
  @apply bg-green-500 text-white px-2 py-2 rounded-full;
}
.markdown .caption-success::before {
  @apply bg-green-500;
}

/**
 * ------------------------------------------------------
 *  Table of contents
 * ------------------------------------------------------
 */
.toc-container {
  @apply h-full w-toc overflow-y-auto pl-8 py-4 font-body;
}
.toc-container h3, .toc-container .sponsors_wrapper h3 {
  @apply font-display font-medium mb-2 text-md text-sm;
}
.toc-container em {
  font-style: normal;
}

.toc-container nav ul a {
  @apply text-gray-600 dark:text-darkGray-600 text-sm block;
}
.toc-container nav ul a:hover, .toc-container nav ul a.active {
  @apply text-gray-900 dark:text-darkGray-900;
}
.toc-container code {
  @apply font-body;
}

/**
 * Nested list
 */
.toc-container nav ul li ul {
  @apply pl-2.5 my-1;
}
.toc-container nav ul li {
  @apply py-0.5;
}

/**
 * Top-level links
 */
.toc-container nav > ul > li {
  @apply py-2 border-b border-dashed border-darkGray-300;
}

/**
 * ------------------------------------------------------
 *  Dark mode changes
 * ------------------------------------------------------
 */
.dark .markdown a {
  background-image: linear-gradient(to bottom, transparent 50%, theme('colors.brandDark') 50%);
  text-shadow: 0.1rem 0 #202021, 0.15rem 0 #202021, -0.1rem 0 #202021, -0.15rem 0 #202021;
}

.dark .markdown a code {
  @apply text-brandDark;
}

.dark .markdown h2 a[aria-hidden="true"] .icon.icon-link, .dark .markdown h3 a[aria-hidden="true"] .icon.icon-link, .dark .markdown h4 a[aria-hidden="true"] .icon.icon-link {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' aria-hidden='true'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='%23aaa' stroke-width='1.5' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
}

/**
 * ------------------------------------------------------
 *  News timeline
 * ------------------------------------------------------
 */
.news_timeline .timeline_item {
  @apply border-b border-gray-300 dark:border-darkGray-200 pb-6 pt-10 lg:border-none lg:flex lg:py-0 lg:flex-row lg:items-start lg:space-x-9 last-of-type:border-none first-of-type:pt-0;
}

.news_timeline .timeline_item .news_datetime {
  @apply lg:pt-9 lg:w-32 lg:text-right;
}

.news_timeline .timeline_item .news_content {
  @apply relative pt-3 lg:py-8 lg:pl-8 lg:flex-1;
}

.news_timeline .news_content h2 {
  @apply text-prose-xl mt-0;
}

.news_timeline .news_content h2 code {
  @apply text-lg;
}

.news_timeline .news_content h2 a[aria-hidden="true"] {
  display: none;
}

.news_timeline .news_datetime dl {
  @apply text-sm font-medium;
}

.news_timeline .news_datetime dt {
  @apply sr-only;
}

@media (min-width: 1024px) {
  .news_timeline .news_datetime dd {
    @apply whitespace-nowrap;
  }

  .news_timeline .timeline_item .news_content:before {
    @apply absolute left-0 w-[1px] bg-gray-300 dark:bg-darkGray-200 top-0 bottom-0;
    content: '';
  }

  .news_timeline .timeline_item .news_content:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Ccircle cx='4.5' cy='4.5' r='4.5' stroke='%23e7e5e0' stroke-width='3' fill='%23fff'%3E%3C/circle%3E%3C/svg%3E");

    @apply absolute left-0 top-0 w-4 h-4 rounded-full mt-[37px] -ml-[7.5px];
    content: ' ';
  }

  .dark .news_timeline .timeline_item .news_content:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Ccircle cx='4.5' cy='4.5' r='4.5' stroke='%23343434' stroke-width='3' fill='%23202021'%3E%3C/circle%3E%3C/svg%3E");
  }
}

.one_size .lg\:max-w-\[65ch\] {
  max-width: 100%;
}

/**
 * ------------------------------------------------------
 *  Sponsors page list
 * ------------------------------------------------------
 */
.sponsors_wrapper {
  @apply my-10;
}

.sponsors_wrapper h3 {
  @apply font-medium text-xl mb-4;
}

.sponsors_list, .sponsors_list_wide {
  @apply flex flex-wrap;
}

.sponsor_item {
  @apply w-full p-px;
}

.sponsors_list_wide .sponsor_item {
  @apply w-24 h-24 border border-gray-300 dark:border-darkGray-200 rounded-lg mr-3 mb-6;
}

.sponsor_item a {
  @apply lg:px-4 py-8 flex justify-center bg-gray-50 dark:bg-darkGray-800 h-full items-center;
}

.all_sponsors .sponsor_item a {
  @apply lg:px-12 lg:py-10;
}

.all_sponsors .sponsors_list {
  @apply mb-20;
}

.dark .sponsor_item a img {
  max-width: 55%;
}

.sponsors_list_wide .sponsor_item img {
  @apply rounded-lg block;
}

/**
 * ------------------------------------------------------
 *  Features list
 * ------------------------------------------------------
 */
.markdown .feature {
  @apply mb-4 w-full pr-3;
}

.markdown .feature .feature_content {
  @apply bg-none border border-gray-300 dark:border-darkGray-200 rounded-lg h-full lg:flex items-start;
  color: inherit;
  transition: background 200ms ease;
}

.feature_content .feature_title {
  @apply px-6 pt-4 lg:w-24 lg:flex lg:justify-center lg:pt-8;
}

.feature_content .feature_title svg {
  @apply w-12 h-12;
}

.feature_content .feature_body {
  @apply border-l border-gray-300 dark:border-darkGray-300 px-6 pt-4 lg:pt-8 pb-4;
}

.markdown .feature .feature_content:hover {
  @apply bg-gray-50 dark:bg-darkGray-100;
}
