@import 'unpoly';
@import '@docsearch/css';

/* Gray colors */
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-alpha.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/mauve-dark-alpha.css';

/* Accent colors */
@import '@radix-ui/colors/crimson.css';
@import '@radix-ui/colors/crimson-alpha.css';
@import '@radix-ui/colors/crimson-dark.css';
@import '@radix-ui/colors/crimson-dark-alpha.css';

/* Interface colors */
@import '@radix-ui/colors/orange-alpha.css';
@import '@radix-ui/colors/iris-alpha.css';
@import '@radix-ui/colors/orange-dark-alpha.css';
@import '@radix-ui/colors/iris-dark-alpha.css';

/**
 * Dimer doc theme styles
 */
@import '@dimerapp/docs-theme/styles';

:root {
  --logo-width: 132px;

  --accent-1: var(--crimson-1);
  --accent-2: var(--crimson-2);
  --accent-3: var(--crimson-3);
  --accent-4: var(--crimson-4);
  --accent-5: var(--crimson-5);
  --accent-6: var(--crimson-6);
  --accent-7: var(--crimson-7);
  --accent-8: var(--crimson-8);
  --accent-9: var(--crimson-9);
  --accent-10: var(--crimson-10);
  --accent-11: var(--crimson-11);
  --accent-12: var(--crimson-12);

  --accent-a1: var(--crimson-a1);
  --accent-a2: var(--crimson-a2);
  --accent-a3: var(--crimson-a3);
  --accent-a4: var(--crimson-a4);
  --accent-a5: var(--crimson-a5);
  --accent-a6: var(--crimson-a6);
  --accent-a7: var(--crimson-a7);
  --accent-a8: var(--crimson-a8);
  --accent-a9: var(--crimson-a9);
  --accent-a10: var(--crimson-a10);
  --accent-a11: var(--crimson-a11);
  --accent-a12: var(--crimson-a12);

  --sidebar-active-link-text-color: var(--crimson-12);
}

html.dark {
  --accent-1: var(--crimson-1);
  --accent-2: var(--crimson-2);
  --accent-3: var(--crimson-3);
  --accent-4: var(--crimson-4);
  --accent-5: var(--crimson-5);
  --accent-6: var(--crimson-6);
  --accent-7: var(--crimson-7);
  --accent-8: var(--crimson-8);
  --accent-9: var(--crimson-9);
  --accent-10: var(--crimson-10);
  --accent-11: var(--crimson-11);
  --accent-12: var(--crimson-12);

  --accent-a1: var(--crimson-a1);
  --accent-a2: var(--crimson-a2);
  --accent-a3: var(--crimson-a3);
  --accent-a4: var(--crimson-a4);
  --accent-a5: var(--crimson-a5);
  --accent-a6: var(--crimson-a6);
  --accent-a7: var(--crimson-a7);
  --accent-a8: var(--crimson-a8);
  --accent-a9: var(--crimson-a9);
  --accent-a10: var(--crimson-a10);
  --accent-a11: var(--crimson-a11);
  --accent-a12: var(--crimson-a12);
}

.markdown .media_box {
  padding: 2rem;
  border: 4px solid var(--neutral-gray-4);
  border-radius: 4px;
  margin: var(--prose-elements-margin) 0;
}

.markdown .media_box figure, .markdown .media_box p {
  margin: 0;
}

.markdown ul li ul {
  margin: 0px;
}
