<div class="feature_highlight_description">
  <div>
    @include('elements/icons/asterisk')
  </div>

  <div>
    <p>
      <strong> JSON API testing using Open API schema </strong>
    </p>
    <p>
      The API client plugin of Japa has first-class support for testing API endpoints against an Open API schema.
    </p>
  </div>
</div>
