<div class="feature_highlight_description">
  <div>
    @include('elements/icons/asterisk')
  </div>

  <div>
    <p>
      <strong>  Basics covered </strong>
    </p>
    <p>
      Despite being a small and simple test runner, Japa comes with all the basic features you expect from a great testing framework.
    </p>
  </div>
</div>
