<div class="feature_highlight_description">
  <div>
    @include('elements/icons/asterisk')
  </div>

  <div>
    <p>
      <strong> Browser testing using Playwright </strong>
    </p>
    <p>
      The browser client of Japa is built on top of Playwright and you can use it to write end-to-end browser tests.
    </p>
  </div>
</div>
