<div class="feature_highlight_description">
  <div>
    @include('elements/icons/asterisk')
  </div>

  <div>
    <p>
      <strong> VSCode extension </strong>
    </p>
    <p>
      Run Japa tests directly from your code editor using our VSCode extension.
    </p>
  </div>
</div>
