<div
  class="rounded-lg items-center shadow-search dark:bg-darkGray-50 relative dark:text-darkGray-600 hover:dark:text-darkGray-900 mx-auto mr-2 lg:mr-auto lg:max-w-xl"
>
  <div x-data="search()"></div>
</div>