<table><thead><tr><th>Config file</th><th>Stub</th><th>Used by</th></tr></thead><tbody><tr><td><code>app.ts</code></td><td><a href="https://git.io/JfefZ" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/JfefZ</a>
</td><td>Used by the framework's core, including the HTTP server, logger, validator, and the assets manager.</td></tr><tr><td><code>bodyparser.ts</code></td><td><a href="https://git.io/Jfefn" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/Jfefn</a>
</td><td>Used by the bodyparser middleware</td></tr><tr><td><code>cors.ts</code></td><td><a href="https://git.io/JfefC" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/JfefC</a>
</td><td>Used by the CORS server hook</td></tr><tr><td><code>hash.ts</code></td><td><a href="https://git.io/JfefW" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/JfefW</a>
</td><td>Used by the hash package</td></tr><tr><td><code>session.ts</code></td><td><a href="https://git.io/JeYHp" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/JeYHp</a>
</td><td>Used by the session package</td></tr><tr><td><code>shield.ts</code></td><td><a href="https://git.io/Jvwvt" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/Jvwvt</a>
</td><td>Used by the shield package</td></tr><tr><td><code>static.ts</code></td><td><a href="https://git.io/Jfefl" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/Jfefl</a>
</td><td>Used by the static file server</td></tr><tr><td><code>auth.ts</code></td><td><a href="https://git.io/JY0mp" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/JY0mp</a>
</td><td>Used by the auth package</td></tr><tr><td><code>database.ts</code></td><td><a href="https://git.io/JesV9" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/JesV9</a>
</td><td>Used by Lucid ORM</td></tr><tr><td><code>mail.ts</code></td><td><a href="https://git.io/JvgAf" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/JvgAf</a>
</td><td>Used by the AdonisJS mail package</td></tr><tr><td><code>redis.ts</code></td><td><a href="https://git.io/JemcF" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/JemcF</a>
</td><td>Used by the Redis package</td></tr><tr><td><code>drive.ts</code></td><td><a href="https://git.io/JBt3o" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/JBt3o</a>
</td><td>Used by the Drive provider</td></tr><tr><td><code>ally.ts</code></td><td><a href="https://git.io/JOdi5" target="&quot;_blank&quot;" rel="&quot;noopener&quot;">https://git.io/JOdi5</a>
</td><td>Used by the Social authentication package (Ally)</td></tr></tbody></table>
